.just-for-you-section {
    .product-title {
        font-size: 0.9rem;
        color: #222;
        padding: 0;
        margin: 0;
    }
    .product-price {
        margin: 0;
        padding: 0;
        color: $orange;
    }
}
