name: tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  linux_tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.2, 8.1 ]
        stability: [ prefer-lowest, prefer-stable ]

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

      - name: Initial Key
        run: cp .env.example .env && php artisan key:generate

      - name: Execute phpcs
        run: php vendor/bin/phpcs

      - name: Execute tests
        run: php -d xdebug.mode=coverage vendor/bin/phpunit

      - name: Code coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./build/phpunit/phpunit.xml
